#pagesubtitle {
  margin-left: 24px;
  font-size: 18px;
  color: #666666;
}
#search {
  padding-left: 24px;
  border: 1px solid #cccccc;
  font-weight: bold;
  background-color: #ffffff;
}
#layerlist,
#fileupload-content {
  background-color: #eeeeee;
  overflow: auto;
  height: 600px;
}
button {
  background-color: #eeeeee;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  /*-moz-box-shadow: -1px -1px 0px #aaa;*/

  /*-webkit-box-shadow: -1px -1px 0px #aaa;*/

  /*box-shadow: -1px -1px 0px #aaa;*/

}
button:hover {
  background-color: #ddd;
  border: 2px solid #888;
  /*-moz-box-shadow: 0 0 2px #E80070;*/

  /*-webkit-box-shadow: 0 0 2px #E80070;*/

  /*box-shadow: 0 0 2px #E80070;*/

}
button:active {
  /*color: #FF0060;*/

  /*border: 2px solid #FF0060;*/

  color: #000;
  border: 2px solid #000;
  background-color: #aaa;
}
.layerset {
  background-color: #cccccc;
}
.layerset .layerblock {
  margin: 3px;
  background-color: #fcfcfc;
  padding-top: 12px;
  padding-bottom: 12px;
}
.layerset .layerblock div {
  padding-left: 24px;
  padding-right: 24px;
}
.layerset .layerblock .layernotes {
  overflow: auto;
}
