<div id="layerblock-{{site_configuration.id}}" class="layerblock" > 
    <div class="site_configurationname">Site Configuration ID: {{site_configuration.id}}</div>
    <div class="site_configurationname">Site Configuration Name: {{site_configuration.name}}</div>
    <div class="site_configurationlayer">Site Layer: {{site_configuration.site_layer.name}}</div>
    <div class="site_configurationotherlayers">Other Layers: {% for other_layer in site_configuration.other_layers.all %}<div>{{other_layer.name}}</div>{% endfor %}</div>
    <div class="site_configurationsrs">SRS: {{site_configuration.srs}}</div>
    <div class="site_configurationradius">Radius: {{site_configuration.radius}} mts.</div>
    <div class="site_configurationcreate_sites">Create Sites: <input name="create_sites" type="checkbox" id="create_sites[ ]" value={{ site_configuration.id }}></div>
</div>

