{% extends 'base.html' %}
{% load static %}
{% load webdesign %}
{% load textbits %}

{% block jslibs %}
{% endblock %}

{% block css %}
        <link rel="stylesheet" href="{% get_static_prefix %}css/home.css" type="text/css"/>
{% endblock %}

    {% block header %}
      <div id="pagetitle">
        Local Code
      </div>
    {% endblock %}

    {% block nav %}
          <ul>
            <!--<li><a href="/about"><div class="sitenav">About</div></a></li>
            <li><a href="/tools"><div class="sitenav">Download Tools</div></a></li>-->
            <li><a href="/webfinches/upload"><div class="sitenav">Upload Data</div></a></li>
            <li><a href="/webfinches/browse"><div class="sitenav">Browse Data</div></a></li>
            <li><a href="/webfinches/configure"><div class="sitenav">Configure Sites</div></a></li>
            <li><a href="/webfinches/create_sites"><div class="sitenav">Create Sites</div></a></li>
            <li><a href="/login"><div class="sitenav">Login</div></a></li>
          </ul>
    {% endblock %}

    {% block content %}
                <div class="col">
                  {% textbit "about" %}
              </div>
                <div class="col">
                  {% textbit "instructions" %}
              </div>
    {% endblock %}

{% block scripts %}
{% endblock %}
