{% extends 'layer-index.html' %}
{% load static %}

{% block jslibs %}

{% endblock %}

{% block subtitle %}
    Upload Data Layers
{% endblock %}

{% block layernavs %}
            <li><a href="/layers"><div class="sitenav">Browse Data</div></a></li>
{% endblock %}

{% block content %}
            <div id="intro">Drag and Drop files onto the area below.</div>
            <div id="fileuploader">

              <form action="/layers/upload/" method="POST" enctype="multipart/form-data">
                <div class="fileupload-buttonbar">
                    <input type="file" name="files" id="fileElem" multiple="true" style="display:none">
                    <button type="button" id="addFiles">Browse For Files To Upload</button>
                    <button type="reset" class="cancel">Cancel</button>
                    <button type="button" class="delete">Clear</button>
                    <button type="submit" class="start">Submit</button>
                </div>
              </form>

              <div id="fileupload-content">
              </div>
            </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/loadPage.js"></script>
{% endblock %}
