{% extends 'webfinches/review.html' %}
{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% get_static_prefix %}css/home.css" type="text/css"/>
        <link rel="stylesheet" href="{% get_static_prefix %}css/layers.css" type="text/css"/>
{% endblock %}

{% block subtitle %}
    Build Site Configurations
{% endblock %}

{% block layernavs %}
            <li><a href="/webfinches"><div class="sitenav">Browse Data</div></a></li>
{% endblock %}

{% block content %}
  {% if layers %}
  <div class="layerset col">
    {% for layer in layers %}
      {% include "webfinches/layer_block.html" %}
    {% endfor %}
  </div>
  {% endif %}
  <div class="layerset layerconfig col">
  </div>
{% endblock %}
					
             


{% block scripts %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/siteBuilder.js"></script>
{% endblock %}
