{% extends 'webfinches/home.html' %}
{% load static %}
{% load webdesign %}

    {% block jslibs %}
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% get_static_prefix %}css/home.css" type="text/css"/>
        <link rel="stylesheet" href="{% get_static_prefix %}css/layers.css" type="text/css"/>
        <link rel="stylesheet" href="{% get_static_prefix %}css/custom-theme/jquery-ui-1.8.16.custom.css" type="text/css"/>
    {% endblock %}

            {% block header %}
        <div id="pagetitle">
          Local Code
          <span id="pagesubtitle">
          {% block subtitle %}
            Browse Data Layers
          {% endblock %}
          </span>
        </div>
            {% endblock %}

            {% block nav %}
            <ul>
              <li><a href="/about"><div class="sitenav">About</div></a></li>
              <li><a href="/tools"><div class="sitenav">Download Tools</div></a></li>
              {% block layernavs %}
              <li><a href="/webfinches/upload"><div class="sitenav">Upload Data</div></a></li>
              {% endblock %}
              <li><a href="/sitemodels/create"><div class="sitenav">Create Islands</div></a></li>
            </ul>
            {% endblock %}

            {% block content %}
            <div id="intro">Search for a Data Layer</div>
            <div id="search">This will be a search bar</div>
              <div id="layerlist">
            {% if layers %}
                <ul>
                {% for layer in layers %}
                <li><div id="{{ layer.name }}{{ layer.id }}" class="layerblock">
                  <span class="layername">{{layer.name}}</span>
                  <span class="layertype">{{layer.geometry_type}}</span>
                  {% if layer.tags %}
                  <span class="tags">
                    {% for tag in layer.tags %}
                    <span class="tag">{{ tag.name }}</span>
                    {% endfor %}
                  </span>
                  {% endif %}
                  {% if layer.notes %}
                    <span class="layernotes">{{ layer.notes }}</span>
                  {% endif %}
                </div>
                {% endfor %}
              </ul>
              {% else %}
              Here will be a big list of layers.
            {% endif %}
              </div>
            {% endblock %}

    {% block scripts %}
    {% endblock %}

