<div id="layerblock-{{layer.id}}" class="layerblock" >
    <div class="layername">{{layer.name}}</div>
    <div class="layernotes">{{layer.notes}}</div>
    <div class="layersrs">{{layer.srs}}</div>
    <div class="layergeomtype">{{layer.geometry_type}}</div>
    <div class="layergeomtype">{{layer.tags}}</div>
    <!--<div class="layergeomtype">{{layer.date_edited}}</div>
-->
</div>

<!--        <div>
            <div class="sitelist_column"><h1>Layers</h1></div>
            <div class="sitelist_column"><h1>Site Layer</h1></div>
            <div class="sitelist_column"><h1>Other Sites</h1></div>
        </div>-->