{% extends 'webfinches/index.html' %}
{% load static %}

{% block jslibs %}

{% endblock %}

{% block subtitle %}
    Upload Data Layers
{% endblock %}

{% block layernavs %}
            <li><a href="/webfinches"><div class="sitenav">Browse Data</div></a></li>
{% endblock %}

{% block content %}
              <form id="fileuploader" action="/webfinches/upload/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <input type="submit" value="Upload Files" />
                  {% for form in formset %}
                  <div class="shp_upload">
                    {{ form.as_p }}
                  </div>
                  {% endfor %}
                </table>
              </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/loadPage.js"></script>
{% endblock %}
